/* GENERIC CHANGES */

/* Tag HTML */
a{
    color: #80cdef;
    text-decoration: none;
}

/* Class Changes */
.title{
    font-size: 2rem;
    font-weight: bold;
}

.text-color_grey{
    color: #b6b6b6;
    font-weight: bold;
}

.timeline{
    font-size: 0.8rem;
}

/* SPECIFIC CHANGES */

/* Header Section */
header.bg-img-container{
    height: 5rem;
    width: 100%;
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: cover;
    background-position: 80% 20%;
    background-repeat: repeat;
    position: relative;
}

header.bg-img-container img{
    width: 20%;
    position: absolute;
    bottom: 5%;
}


/* Main Section */